$color1: #22223b;
$color2: #4a4e69;
$color3: #9a8c98;
$color4: #c9ada7;
$color5: #f2e9e4;

header,
section,
footer {
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

header {
  background: linear-gradient(to right, $color3, $color4, $color5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 250px;
}

h1 {
  text-align: center;
  color: #4a4e69;
  font-weight: bolder;
  text-transform: uppercase;
}


h3 {
  text-align: center;
  font-weight: bolder;
  padding-top: 40px;
  color: #9a8c98;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: medium !important;
}

.container {
  padding: 40px;
}

#form {
  background-color: #f2e9e4;
}

.card {
  box-shadow: 10px 10px 17px -3px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  margin: 15px;
  width: 14rem !important;
  h5 {
    text-align: center;
    color: #4a4e69;
  }
  p {
    text-align: center;
    color: #22223b;
    font-weight: bold;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: $color3 !important;
  border-color: $color3 !important;
}

#lupa {
  width: 10px;
}

.bg-light {
  background-color: $color4 !important;
  border: solid 1px $color2;
  border-radius: 10px;
}

#form_suscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.cart {
  padding: 20px;
  margin: 20px;
  border: solid 1px $color2;
}

.productoCarrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
  padding: 20px;
}

.car-img {
  width: 60px;
}

#cartCompra {
  width: 25px;
}

.totalCarrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.total {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: larger;
}

#productosTienda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#resultado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

#formBuscar {
  width: 50%;
}



.compra_final {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  color: #4a4e69;
  font-weight: 600;
}

#logoFin {
  width: 250px;
}
.compra_finalizada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: black !important;
  text-transform: uppercase;
}

#footer {
  text-align: center;
  padding: 40px;
}
